/* FUENTES APLICACIÓN */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf');
}

/* VARIABLES CSS */
:root {
    --primary-color: #00f0ff;
    --secondary-color: #7000ff;
    --dark-background: #050505;
    --light-background: #f0f2f5;
    --dark-card: #121217;
    --light-card: #ffffff;
    --dark-text: #e0e0e0;
    --light-text: #1a1a1a;

    /* Tipografía (fuentes) */
    --titles: 'Orbitron', sans-serif;
    --body: 'Inter', sans-serif;
}

/* NAVBAR */
.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-image {
    filter: drop-shadow(0 0 3px rgba(0, 240, 255, 0.6)) drop-shadow(0 0 6px rgba(0, 240, 255, 0.4)) drop-shadow(0 0 9px rgba(0, 240, 255, 0.2));
}

.title {
    padding-left: 10px;
}

.title-primary {
    color: var(--dark-text);
    font-family: var(--titles);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: -3px;
}

.title-secondary {
    color: var(--primary-color);
    font-family: var(--titles);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0 0 3px rgba(0, 240, 255, 0.6), 0 0 6px rgba(0, 240, 255, 0.4), 0 0 9px rgba(0, 240, 255, 0.2);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(18, 18, 23, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    border-radius: 16px;
    margin: 20px auto 0;
    max-width: 1200px;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;

    font-family: var(--titles);
    font-size: 18px;

    a {
        text-decoration: none;
        color: var(--dark-text);
    }

}

.nav-links a:hover {
    color: var(--primary-color);
}

.btn-come-in {
    font-family: var(--titles); 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    background-color: var(--dark-card);
    color: var(--primary-color);
    
    border: none;
    border-radius: 2px;
    padding: 15px 35px;
    cursor: pointer;
    
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    
    transition: 
        all 0.3s ease-in-out; 
}

.btn-come-in:hover {
    box-shadow: 
        0 0 15px var(--primary-color),
        inset 1px 1px 0px 1px rgba(255, 255, 255, 0.2),
        inset -1px -1px 0px 1px rgba(0, 0, 0, 0.9);
}

.btn-come-in:active {
    background-color: var(--primary-color);
    color: var(--dark-card);
    box-shadow: 
        0 0 5px var(--primary-color),
        inset -1px -1px 0px 1px rgba(255, 255, 255, 0.1),
        inset 1px 1px 0px 1px rgba(0, 0, 0, 0.8);
    transform: translateY(1px);
}

.navbar-icon {
    padding-top: 8px;
}

.trailing-navbar-container {
    display: flex;
    gap: 20px;
}

.trailing-navbar-container button {
    background-color: var(--primary-color);
    color: var(--light-text);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

body {
    background-color: var(--dark-background);
    color: var(--dark-text);
    font-family: var(--body);
    margin: 0;
    min-height: 100vh;
    position: relative;
}

/* Aseguramos que el contenido pase por encima del fondo */
header,
main,
footer {
    position: relative;
    z-index: 10;
}

.bg-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;

    /* Dibujo de la rejilla */
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #1f1f1f 1px, transparent 1px),
        linear-gradient(to bottom, #1f1f1f 1px, transparent 1px);

    mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);

    opacity: 0.2;
}

.bg-aura {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 800px;
    z-index: 0;
    pointer-events: none;

    background: radial-gradient(circle at 50% 50%,
            rgba(112, 0, 255, 0.15) 0%,
            rgba(5, 5, 5, 0) 50%);
}